.notification{
    top: 60px;
    right: 10%;
    position: fixed;
    padding:10px 20px;
    border-radius: 14px;
    animation-duration: 2s;
    animation-name: notification;
}
.notification span{
font-size: 32px;
}
.notification-text {
    font-size: 16px;
}
@keyframes notification {
    0% {
        top: 0;
    }

    80% {
        top: 60px;
    }
    100% {
        top: 50px;
    }
}