
.nav-link-header{
    margin: 6px 8px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 6px 0;
    color: black;
    font-size: 15px;
    font-weight:600;

    background-color: rgba(178, 177, 177, 0.42);
}
.nav-link-header-active{
    background-color: rgb(78, 168, 246);
    margin: 6px 8px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 6px 0;
    color: black;
    font-size: 15px;
    font-weight:600;

}
.nav-link-header:hover{
    color: rgb(78, 168, 246);
    transition: ease .4s;
}
.nav-link-header-active:hover{
    color: black;
    transition: ease .4s;
}






.header-hash{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    margin: 0 0 0 30px  ;
}
