.addnews-input{
    border-left: none;
    border-top: none;
    border-right: none;
    background: none;
    outline: none;
    width: 100%;
    color: black;
    padding-left: 8px;
    font-size: 17px;
}
.addnews-text-area{
    border-left: none;
    border-top: none;
    border-right: none;
    background: none;
    outline: none;
    width: 100%;
    color: black;
    padding-left: 8px;
    font-size: 17px;
    min-height: 100px;
}



.addnews-input:focus{
    /*border-bottom: 1px solid rgba(23, 52, 96, 0.7);*/
}
/*.addnews-input:focus {*/
/*    border-bottom: 2px solid rgba(23, 52, 96, 0.7);*/
/*}*/
.chevron_right{
    transform: rotate(180deg);
    color: #000000;
}
.back{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: linear .2s;
}
.back:hover{
transform: translateX(-5px);
    transition: linear .2s;
}
.back:hover{
    color: #000000;
}
.id-list h6{
    margin-left: 14px;
    color: #000000;
}